node_modules/
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

.vscode-test/
*.vsix

.env
.env.*

coverage/
.tmp/
.temp/

note.txt